<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>
    <% include ../partials/head %>
  </head>
  <body>
    <div id="map"></div>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1xk8dB5rS-Ol7_siqkOcm0gf58E-Kc28&libraries=visualization&callback=initMap">
    </script>
    <script src="/js/map.js"> </script>
  </body>
</html>
